:root {
  --highlight-color: rgb(from white r g b / calc(alpha * 0.5));
}

codeview {
	padding: 0.5rem;
}

codeview text {
	background: none;
}

.inspector {
  border-left: 1px solid rgb( from var(--highlight-color) r g b / calc(alpha * 0.25));
  padding: 1rem;
}
